 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPE</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-container.css') }}">
</head>
<body>
    <div class="container">
        <div class="input-container">
            <input type="text" id="userInput" placeholder="Input">
        </div>
        
        <div class="outputs-container" id="outputsContainer">            
            <div class="output-box">Output 1</div>
            <div class="output-box">Output 2</div>
            <!-- Extend with more outputs as needed -->
        </div>
    </div>


    <script src="{{ url_for('static', filename='scripts/outputPosition.js') }}"> </script>    
</body>
</html> 